
#chat-window{
    width: 600px;
    height:100vh;
    /* background-color: #5a5353; */
    background: transparent;
    text-align: center;
    margin-left: 430px;
    position: sticky;
}
input{
     margin-top: 20px; 
    width: 400px;
    height: 40px;
    border-radius: 12px;
    position: sticky;
}
#chat-messages{
    margin-top: 30px;
    color: aliceblue;
    font-size: large;
    background-color: #000000;
    border-radius: 16px;
    font-size: 20px;
    justify-content: space-between;
    line-height: 2;
}
body{
    background: url("baground2.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#chat-form{
    margin-top: 10px;
}
.main-title{
    font-size: 50px;
    background-color: #c9dcaf;
    border-radius: 12px;
}
button{
    font-size: 25px;
    border-radius: 8px;
    background-color: rgb(226, 198, 139);
}